// CategoriesScreen
//      │
//      └──> CategoriesScreenBody
//                 │
//                 └──> CategoryItem 
//                         │
//                         └──> عند الضغط → CategoryProductsScreen
//                                     │
//                                     └──> ProductCard 
